body {
  background-color: #4a8864;
  font-family: "Poppins", sans-serif;
}

op {
  display: block;
}

.conteiner {
  width: 100%;
  max-width: 800px;
  margin: 0 150px;
}

.cabecalho {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.cabecalho .conteiner {
  display: flex;
  align-items: center;
}

.detalhesConta {
  color: white;
  padding: 60px 0 30px;
}

.usuario {
  display: flex;
  margin: 10px 0;
}

.usuario img {
  width: 100%;
  max-width: 50px;
}

.usuario p {
  font-size: 18px;
  margin-left: 10px;
}
.usuario p strong {
  display: block;
  font-weight: bold;
}

.saldo {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.saldo p {
  font-size: 18px;
  line-height: 22px;
}

.saldo p strong {
  display: block;
  font-weight: bold;
}

.saldo button {
  cursor: pointer;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 60px;
  border-radius: 20px;
}

.opcoesTransacoes {
  display: flex;
  justify-content: space-between;
}

.itemTransacao {
  background-color: #1f6f54;
  width: 170px;
  height: 177px;
  border-radius: 20px;
  padding: 40px 40px;
}

.itemTransacao img {
  width: 100%;
  max-width: 40px;
}

.itemTransacao p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  line-height: 25px;
  width: 80px;
}

.transacao {
  background-color: white;
  border-radius: 20px 20px 0 0;
  border-bottom: 15px solid #f0f0f0;
  padding: 30px 0;
  min-height: 450px;
}

.transacao .conteiner div {
  display: none;
}

.transacao .conteiner div.show {
  display: block;
}

.selecionarPagamento p {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 30px 60px;
  border-radius: 10px;
  font-size: 25px;
  border: 1px solid black;
}

.selecionarPagamento img {
  width: 100%;
  margin: 30px 0 90px;
}

.qrcode {
  text-align: center;
}

.qrcode img {
  max-width: 180px;
}

.qrcode p {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.pix img {
  width: 100%;
  max-width: 150px;
}

.boxop {
  display: flex;
  align-items: center;
  border: 1px solid #d2d2d2;
  max-width: 500px;
  padding: 14px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.boxop img {
  width: 100%;
  max-width: 80px;
  margin-right: 10px;
}

.boxop p {
  font-size: 10px;
  line-height: 20px;
}

.boleto img {
  width: 100%;
  max-width: 80px;
}

.boleto h2 {
  font-size: 20px;
  font-weight: 600;
}

.boleto p {
  font-size: 18px;
  max-width: 500px;
  margin: 20px 0;
}

.boleto input {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f4f4;
  font-size: 16px;
  height: 50px;
  padding: 0 80px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  color: #000;
}

.cobrar img {
  width: 100%;
  max-width: 80px;
}

.cobrar h2 {
  font-size: 20px;
  font-weight: 600;
}

.cobrar p {
  font-size: 18px;
  max-width: 500px;
  margin: 20px 0;
}

.cobrar .boxop p {
  margin-left: 10px;
}

.rodape {
  background-color: #fff;
}

.rodape .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape .menu li {
  text-align: center;
}

.rodape .menu li a {
  color: #000;
  text-decoration: none;
}

.rodape .menu li a img {
  width: 100%;
  max-width: 40px;
}

.rodape .menu li a p {
  margin-top: 20px;
}

.mitempagar {
  transform: translateY(-35px);
}

.rodape .menu .mitempagar a img {
  max-width: 80px;
}

.itemTransacao:hover {
  background-color: #fff;
  color: #228664;
}
.itemTransacao figure {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 50px;
  width: 50px;
}

.itemqrcode figure {
  background-image: url("./img/qrcode.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 50px;
  width: 50px;
}
.itempix figure {
  background-image: url("./img/pix.png");
}
.itemboleto figure {
  background-image: url("./img/codigo.png");
  width: 100%;
  max-width: 65px;
}
.itemcobrar figure {
  background-image: url("./img/cobrar-icon.png");
  width: 100%;
  max-width: 60px;
}

.itemqrcode:hover figure {
  background-image: url("./img/qrcode-verde.png");
}
.itempix:hover figure {
  background-image: url("./img/pix-verde.png");
}
.itemboleto:hover figure {
  background-image: url("./img/boleto-verde.png");
}
.itemcobrar:hover figure {
  background-image: url("./img/cobrar-verde.png");
}

.itemTransacao figure img {
  width: 100%;
  max-width: 25px;
  height: 20px;
  opacity: 0;
}
